.events{
        width: 100vw;
        max-width: 90%;
        margin: 0 auto;
        padding:50px 20px 20px 20px;
        gap: 15px;
}
.event{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.data{
    background: #464646;
    width:400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.event-head{
    font-size: 2rem;
    font-weight: 500;
    color:gold;
    padding-bottom: 40px;
}
.data img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 200px;
}
.datas{
    padding: 30px;
}
.no-event-head{
    font-size: 2rem;
    font-weight: 500;
    color:gold;
    padding-bottom: 40px;
    padding-top:50px ;
}
.datas{
    text-align: justify;
}
.datas p{
    margin-bottom: 20px;
}
.eventname{
    color: gold;
    margin-bottom: 12px;
}
.coo{
    padding: 30px;
    
}
.coo-list{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 40px;
}
.coo-list .table-des,.table-head{
    border: 1px solid white;
    padding: 10px;
}
.coo-head{
    padding: 0 0 0 30px;
    font-size: 1.3rem;
    color: gold;
}
.coo-title{
    font-size: 1.3rem;
    margin-bottom: 12px;
}



@media screen and (max-width:600px) {
    .events{
        max-width: 100%;
    }
    .event-head{
        font-size: 1.5rem;
    }
    .data{
        border-radius: 5px;
    }
    .data img{
        width: 100%;
        border-radius:5px 5px 0 0;
    }
}