.nav{
    display: flex;
    width: 100vw;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-between;
}















@media screen and (max-width:600px) {
    .nav{
        max-width: 100%;
    }
}